:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #ee4d2d;
  --border-color: #dbdbdbdb;
  --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* responsive */
.gird {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.gird__full--width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* test */
.grid-column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.grid-column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid-column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}
/*  */
@keyframes growth {
  from {
    transform: scale(var(--growth-form));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/* modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  animation: fadeIn linear 0.2s;
}

.moda__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.moda__body {
  position: relative;
  z-index: 1;
  margin: auto;
}

/* buttom style */

.btn {
  min-width: 124px;
  height: 32px;
  border: none;
  text-decoration: none;
  border-radius: 3px;
  font-size: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 0 12px;
  line-height: 1.6rem;
}

.btn.btn--size-s {
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
  flex: 1;
}
.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.btn.btn--disable {
  cursor: default;
  background-color: #999;
  color: #ccc;
}
/* selection */

.select-input {
  position: relative;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.select-input:hover .select-input__list {
  display: block;
}
.select-input__label {
  font-size: 1.4rem;
}
.select-input__list {
  display: none;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 0;
  left: 0;
  background-color: var(--white-color);
  border-radius: 2px;
  list-style-type: none;
  padding: 10px 16px;
}
.select-input__list::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 15px;
  top: -9px;
  right: 0;
}

.select-input__item {
  font-size: 1.4rem;
  color: var(--text-color);
  display: block;
  padding: 5px 0px;
}
.select-input__item:hover {
  color: var(--primary-color);
}

/* pagination */
.pagination {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  justify-content: center;
}
.pagination-item {
  margin: 0 15px;
}
.pagination-item--active .pagination-item__link {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination-item--active:hover .pagination-item__link {
  background-color: #ed5c3f;
}
.pagination-item__link {
  --height: 30px;
  display: inline-block;
  min-width: 40px;
  height: var(--height);
  text-decoration: none;
  color: #939395;
  font-size: 1.8rem;
  text-align: center;
  line-height: var(--height);
  border-radius: 2px;
}
.pagination-item__link--three-dots {
  cursor: default;
  user-select: none;
}

.footer-end {
  background-color: #f5f5f5;
  margin-top: 40px;
}

.footer-end__copyright {
  user-select: none;
  padding: 16px 0 20px;
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
  color: #737373;
}
