.app {
  overflow: hidden;
}

/* Begin-header */
.header {
  height: var(--header-height);
  background-image: linear-gradient(0deg, #fe6333, #f6432e);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  height: 34px;
}
.header__navbar--list {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0 5px;
}

.header__navbar-item {
  display: inline-block;
  margin: 0 8px;
  position: relative;
}
.header__navbar-item:hover,
.header__item-link:hover,
.header__navbar-item--social:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--has-qr:hover .header__QR {
  display: block;
}

.header__navbar-item--has-notify:hover .header__notification {
  display: block;
}
.header__navbar-item--hover-show:hover .nav__language {
  display: block;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #f86c5c;
  border-right: 1px solid #f86c5c;
  height: 15px;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.header__navbar-item--distance::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  height: 15px;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.header__navbar-item,
.header__item-link {
  color: var(--white-color);
  font-weight: 400;
  text-transform: capitalize;
}

.header__item-link {
  text-decoration: none;
}

.header__navbar-item--social,
.header__navbar-item {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item--social {
  text-decoration: none;
  color: var(--white-color);
}
.header__navbar-item--social:nth-child(2) {
  margin-left: 3px;
}
.header__navbar-icon {
  font-size: 1.5rem;
  margin: 0 4px;
}

.header__navbar-item--noPointer {
  cursor: text;
  color: var(--white-color);
}

/* header-sort-bar */
.header__sort-bar {
  position: fixed;
  list-style-type: none;
  top: var(--header-height);
  right: 0;
  left: 0;
  height: var(--header-sort-bar-height);
  background-color: var(--white-color);
  margin: 0;
  padding-left: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: none;
}
.header__sort-item {
  flex: 1;
}
.header__sort-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  height: 100%;
  line-height: var(--header-sort-bar-height);
  text-align: center;
  position: relative;
}

.header__sort-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}
.header__sort-item:first-child .header__sort-link::before {
  display: none;
}
.header__sort-item--active .header__sort-link {
  color: var(--primary-color);
}
/* header QR code */

.header__QR {
  width: 184px;
  background-color: var(--white-color);
  position: absolute;
  top: calc(100% + 15px);
  border-radius: 2px;
  left: -3px;
  display: none;
  animation: fadeIn ease-in 0.3s;
  cursor: default;
  z-index: 2;
}

.header__QR::before {
  content: "";
  display: block;
  position: absolute;
  height: 30px;
  width: 106%;
  top: -7%;
  left: -7px;
}

.header__QR-img {
  width: 100%;
  padding: 4px;
}

.header__QR-apps {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 4px;
  justify-content: space-between;
  align-items: center;
}
.header__qr-download-img {
  width: 70px;
  padding-bottom: 4px;
}

/* header notification */
.header__notification {
  width: 401px;
  background-color: var(--white-color);
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  animation: headerNotiGrowth ease-in 0.2s;
  transform-origin: 80% top;
  -webkit-animation: headerNotiGrowth ease-in 0.2s;
  -moz-animation: headerNotiGrowth ease-in 0.2s;
  -o-animation: headerNotiGrowth ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
  z-index: 2;
}
.header__notification::before {
  position: absolute;
  content: "";
  display: block;
  border-style: solid;
  border-width: 20px 24px;
  border-color: transparent transparent var(--white-color) transparent;
  right: 15px;
  top: -9%;
}
.header__notification::after {
  position: absolute;
  content: "";
  display: block;
  width: 21%;
  height: 30px;
  right: -2px;
  top: -23px;
}
@keyframes headerNotiGrowth {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.header__notification-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 82px 0;
  cursor: default;
}
.header__notification-header--img {
  width: 100px;
  height: 100px;
}
.notification-img {
  width: 100%;
  height: 100%;
}
.notification__descreption {
  color: var(--text-color);
  font-size: 1.5rem;
  cursor: text;
}

.header__notification-btn {
  display: flex;
  align-items: center;
  background-color: #e7e5e5;
}
.notification-btn {
  font-size: 1.6rem;
  text-decoration: none;
  color: var(--text-color);
  flex: 1;
  text-align: center;
  padding: 12px 0;
  font-weight: 400;
}
.notification-btn:hover {
  background-color: #cbe1e2;
  color: #fe6233;
}

/* nav language */
.nav__language {
  width: 200px;
  position: absolute;
  background-color: var(--white-color);
  top: calc(100% + 11px);
  right: 0;
  border-radius: 3px;
  border: 1px solid #c4b8b8;
  animation: headerNotiGrowth 0.2s ease-in;
  transform-origin: 80% top;
  display: none;
  z-index: 2;
}
.nav__language--VNE {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  font-size: 1.5rem;
  padding: 12px 13px;
}
.nav__language--VNE:hover {
  color: #fe6233;
}
.nav__language::after {
  position: absolute;
  top: -19px;
  right: -1px;
  content: "";
  display: block;
  width: 48%;
  height: 30px;
}
.nav__language::before {
  content: "";
  position: absolute;
  top: -32px;
  right: 34px;
  display: block;
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

/* auth-form */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}
.auth-form.register-show,
.auth-form.login-show {
  transform-origin: 80% top;
  animation: fadeIn-Modal 0.2s ease;
}

/* @keyframes fadeIn-Modal {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
} */

.auth-form__wrap {
  padding: 0 32px;
}
.auth-form__header {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0 12px;
  justify-content: space-between;
}

.moda__body {
  --growth-form: 0.7;
  --growth-to: 1;
  animation: growth ease 0.2s;
  transform-origin: 50% top;
}
.auth-form__headding {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}
.auth-form__input:focus {
  border-color: #8888;
}
.auth-form__aside {
  margin-top: 18px;
}
.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
}
.auth-form__text-link {
  text-decoration: none;
  color: var(--primary-color);
}
.auth-form___controls {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form___controls-back {
  margin-right: 8px;
}

.auth-form__sosials {
  background-color: #f5f5f5;
  padding: 12px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}
.auth-form__sosials--icon {
  font-size: 1.8rem;
}
.auth-form__sosials--facebook {
  background-color: #3a5a98;
  color: var(--white-color);
  margin-right: 32px;
}
.auth-form__sosials--facebook .auth-form__sosials--icon {
  color: var(--white-color);
}

.auth-form__sosials-title {
  margin: 0 24px;
}
.auth-form__sosials--google {
  background-color: var(--white-color);
}

.auth-form__sosials-title--login {
  margin: 0 8px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-fomr__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
}

.auth-form__help--spacrate {
  height: 16px;
  margin: 0 16px;
  display: block;
  border-left: 1px solid var(--border-color);
}
.auth-fomr__help--forgot {
  color: var(--primary-color);
}

.js-login {
  display: none;
}

.js-modal {
  display: none;
}
.js-register {
  display: none;
}
.moda-show {
  display: flex;
}
.register-show {
  display: block;
}
.login-show {
  display: block;
}

/* header-with-search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  padding: 8px;
}
.header__mobile-search {
  display: none;
}
.header__mobile-search-icon {
  font-size: 2.6rem;
  color: var(--white-color);
}
.header__logo {
  width: 202px;
}

.header__logo-img {
  width: 146px;
}

.header__logo-link {
  display: block;
  line-height: 0;
  text-decoration: none;
  color: transparent;
}
.header__search {
  flex: 1;
  background-color: var(--white-color);
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 5px;
}
.header__search-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 16px;
  border-radius: 2px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  height: 34px;
  border-radius: 2px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}
.header__search-btn-icon {
  width: 100%;
  font-size: 1.4rem;
  color: var(--white-color);
  padding: 0 17px;
}
.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}
/* header search histoy */
.header__search-history {
  position: absolute;
  z-index: 1;
  top: calc(100% + 3px);
  left: 0;
  width: calc(100% - 16px);
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 0 1px 6px #cdc9c9;
  display: none;
}
.header__search-history-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header__search-history-item {
  padding: 10px 16px;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
}

.header__search-history-item:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.header__search-history-item a {
  text-decoration: none;
  color: var(--text-color);
}
.header__search-history-img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

/* header__search-descreption */

.header_search-descretion {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 58%;
  display: flex;
  align-items: center;
}
.header_search-descretion-text {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 300;
  padding-right: 11px;
}
/* header-cart */
.header__cart {
  width: 138px;
  text-align: center;
  position: relative;
}
.header__cart-list::before {
  content: "";
  position: absolute;
  right: 4px;
  top: -30px;
  border-width: 20px 26px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  cursor: pointer;
}
.header__cart-list {
  position: absolute;
  z-index: 1;
  top: calc(100% + 2px);
  right: -11px;
  background-color: var(--white-color);
  width: 401px;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-in 0.3s;
  display: none;
  cursor: default;
}
.header__cart-list-wrap {
  padding: 39px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.header__cart-icon {
  position: relative;
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 4px;
  cursor: pointer;
  padding: 8px;
}
.header__cart-notifi {
  right: -6px;
  position: absolute;
  padding: 1px 7px;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  border: 2px solid #f6432e;
  cursor: pointer;
  display: none;
}
.header__cart-notifi.header__cart-list--yes-cart {
  display: inline-block;
}
.header__cart-wrap:hover .header__cart-list {
  display: block;
}
.header__cart-list--no-cart .header__cart--no-cart-img,
.header__cart-list--no-cart .header__cart-list-des,
.header__cart-list--no-cart .header__cart-list-wrap {
  display: flex;
}

.header__cart-yes-cart {
  display: none;
}
.header__cart-list--yes-cart .header__cart-yes-cart {
  display: block;
}
.header__cart--no-cart-img {
  display: none;
  width: 30%;
  padding-bottom: 10px;
}
.header__cart-list-des {
  display: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.header__cart-wrap {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}
.header__cart-list-item {
  list-style-type: none;
  padding-left: 0;
  max-height: 56vh;
  overflow-y: auto;
}
.header__cart-item {
  display: flex;
  align-items: center;
}
.header__cart-item:hover {
  background-color: #f8f8f8;
}
.header__cart-img {
  width: 42px;
  height: 42px;
  object-fit: scale-down;
  margin: 12px;
  border: 1px solid #ccc;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 6px;
}
.header__cart-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  line-height: 2rem;
  max-height: 4rem;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}
.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}
.header__cart-item-multiply {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}
.header__cart-item-quantity {
  font-size: 1.2rem;
  color: #757575;
}
.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}
.header__cart-item-descreption {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 300;
}
.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}
.header__cart-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
  background-color: #f05d41;
}

/* Slider */
.slider {
  background-color: #f5f5f5;
}
.slider-main {
  padding-top: 28px;
}
.w3-display-container {
  position: relative;
}

.w3-center.w3-container.w3-section.w3-large.w3-text-white.w3-display-bottommiddle {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #fff;
}

.w3-left {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 21px 7px;
}
.w3-right {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 21px 7px;
}
.mySlides {
  display: none;
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.btn-wrap {
  position: absolute;
  bottom: 4%;
  right: 50%;
  transform: translateX(50%);
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}

.active {
  color: var(--primary-color);
}

/* app container */
.app__container {
  padding-top: 28px;
  background-color: #f5f5f5;
}

.categary {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  font-size: 1.7rem;
  margin: 0;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.category__heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.categary-list {
  padding: 0 0 8px 0;
  list-style-type: none;
  margin-left: 9px;
}
.category-item {
  margin-top: 14px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}
.category-item--active .category-item__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  padding: 0px 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 2rem;
  max-height: 40px;
}
.category-item__link:hover {
  color: var(--primary-color);
}
/* home-filter */
.home-filter {
  display: flex;
  padding: 12px 22px;
  align-items: center;
  background-color: #ededed;
  border-radius: 2px;
}
.home-filter__pagination {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
  background-color: var(--white-color);
}
.home-filter__pagination-num {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-right: 22px;
}
.home-filter__pagination-current {
  color: var(--primary-color);
}

.home-filter__pagination-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}
.home-filter__pagination-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: var(--white-color);
  font-size: 1.4rem;
  color: #555555;
}
.home-filter__pagination-btn:first-child {
  border-right: 1px solid #eee;
}
.home-filter__pagination-btn--disable {
  background-color: #f9f9f9;
  color: #cccc;
  cursor: default;
}
/* Mobile category */
.mobile-category {
  display: none;
}
.mobile-category__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}
.mobile-category__list::-webkit-scrollbar {
  display: none;
}

.mobile-category-item {
  flex-shrink: 0;
  margin-right: 10px;
}
.mobile-category-item:nth-child(3n + 1) .mobile-category-link {
  background-color: #87afd8;
}
.mobile-category-item:nth-child(3n + 2) .mobile-category-link {
  background-color: #76c9bd;
}
.mobile-category-item:nth-child(3n + 3) .mobile-category-link {
  background-color: #88cf81;
}
.mobile-category-link {
  --line-height: 2rem;
  display: inline-block;
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: var(--line-height);
  text-align: center;
  width: 110px;
  max-height: calc(var(--line-height) * 2);
  border-radius: 4px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  user-select: none;
  padding: 0 6px;
}
/* product item */
.home-product {
  margin-bottom: 10px;
}
.home-product-item {
  display: inline-block;
  border-radius: 2px;
  margin-top: 10px;
  background-color: var(--white-color);
  position: relative;
  transition: transform 0.1s linear;
  box-shadow: 0 0.1rem 0.125rem 0 rgba(0, 0, 0, 0.1);
  will-change: transform;
  text-decoration: none;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.1rem 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
  padding-top: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.home-product-item__img-promotion {
  position: absolute;
  top: 0;
  width: 100%;
}
.home-product-item__name {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.4rem;
  height: 28px;
  margin: 10px 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.home-product-item__btn {
  font-size: 1rem;
  display: flex;
  margin-top: -7px;
  padding: 0px 10px;
}
.home-product-item__btn-switch {
  flex: 1;
  border: 1px solid rgb(255, 0, 32);
  color: rgb(255, 0, 32);
}
.home-product-item__btn-switch {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 0, 32);
  color: rgb(255, 0, 32);
  margin-right: 3px;
}
.home-product-item__btn-switch:last-child {
  border: 1px solid #ee4d2d;
  color: #ee4d2d;
}
.home-product-item__price {
  display: flex;
  margin: 8px 10px 10px 10px;
  flex-wrap: wrap;
}
.home-product-item__price-old {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: rgb(0 0 0 / 54%);
  margin-right: 5px;
}
.home-product-item__price-old-unit {
  position: relative;
  right: -0.1px;
  font-size: 1rem;
  top: -2.8px;
}
.home-product-item__price-current {
  font-size: 1.6rem;
  color: #ee4d2d;
}
.home-product-item__price-current-unit {
  position: relative;
  right: -0.1px;
  font-size: 1rem;
  top: -2.8px;
  text-decoration: underline;
}
.home-product-item__evaluate {
  display: flex;
  padding: 10px 10px;
  align-items: center;
}
.home-product-item__evaluate-star {
  margin-right: 6px;
}
.home-product-item__evaluate-star-bold {
  color: #d5d5d5;
}
.home-product-item__evaluate-star-bold--favourite {
  color: #ffce3d;
}
.home-product-item__evaluate-sell {
  color: rgb(0 0 0 / 87%);
  font-size: 13px;
}
.home-product-item__favourite {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
  background-color: currentColor;
  display: inline-block;
  padding: 0px 5px;
  position: absolute;
  top: 10px;
  left: -4px;
  line-height: 1.6rem;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.home-product-item__favourite-color-text {
  color: var(--white-color);
}
.home-product-item__favourite::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2.7px;
  left: 0;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}
.home-product-item__sale-off {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  color: rgb(255 216 57 / 94%);
  background-color: currentColor;
  border-top-right-radius: 2px;
}
.home-product-item__sale-off::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 100%;
  border-width: 0px 20px 6px;
  border-style: solid;
  border-color: transparent currentColor transparent currentColor;
}
.home-product-item__sale-off-percent {
  color: #f0642f;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.3rem;
  margin-top: 5px;
  display: inline-block;
  position: relative;
  left: 2.1px;
}
.home-product-item__sale-off-label {
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 500;
}

/* pagination */
.home-product__pagination {
  margin: 36px 0px 32px;
}

/* footer */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 16px;
  background-color: #fbfbfb;
}
.footer__heading {
  font-size: 1.3rem;
  color: var(--text-color);
  margin-bottom: 23px;
}

.footer-list {
  padding-left: 0;
  list-style-type: none;
}

.footer-item__link {
  display: inline-block;
  text-decoration: none;
  color: #737373;
  font-size: 1.2rem;
  padding: 5px 0;
}
.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-img {
  cursor: pointer;
  padding: 4px 4px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.footer-social {
  list-style-type: none;
  padding-left: 0;
}
.footer-social-wrap {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.footer-social-icon {
  margin-right: 8px;
  color: rgb(0 0 0 / 70%);
}
.footer-social-name {
  text-decoration: none;
  color: rgb(0 0 0 / 65%);
}
.footer-social-name:hover {
  color: var(--primary-color);
}

.footer-download {
  display: flex;
}
.footer-dowload__qa-wrap {
  width: 88px;
  height: 88px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-decoration: none;
}
.footer-dowload__qa {
  width: 80px;
  height: 80px;
}
.footer-download__app-wrap {
  max-width: 76px;
  height: 24px;
  background-color: var(--white-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  text-decoration: none;
}
.footer-download__app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-download__app-icon {
  width: 94%;
}
